body {
    margin: 0;
    background: #1F2937;
}

.container {
    display: flex;
    text-align: center;
    margin-top: 36px;
    align-items: center;
    flex-direction: column;
}

.heading {
    background-color: #6943FF;
    width: 550px;
    height: 285px;
    left: 0px;
    top: 0px;
    color: white;
    border-radius: 5px;
}

h1 {
    margin-top: 33px;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
}

#input-btn {
    margin-top: 25px;
    width: 117px;
    height: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

/*#input-btn:hover {
    background-color: gray;
}*/

#input-btn:active {
    background-color: gray;
}

#input-el {
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background: #6943FF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}


.unit-convertors {
    margin: 25px;
    width: 500px;
    height: 108.57px;
    background: #273549;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #CCC1FF;
    line-height: 3;
}

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    }

@media only screen and (max-width: 550px) {
.container {
            transform: scale(0.8, 0.8);
            margin-top: -50px;
        }
    }


